.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.category-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}

.lecture-list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 43px;
    row-gap: 30px;
}

.category-btn {
    width: auto;
    height: 40px;
    padding: 0 30px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.category-btn.active {
    border: none;
    color: #fff;
    background: #5e936c;
}

@media (max-width: 768px) {
    .category-container {
        flex-wrap: wrap;
    }
}